<a href="https://colab.research.google.com/github/geopan2000/Store-Sales-Forecasting/blob/main/StoreSalesForecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

# Clone the GitHub repository
!git clone https://github.com/geopan2000/Store-Sales-Forecasting.git

# Change directory to the cloned repository
%cd Store-Sales-Forecasting

Mounted at /content/drive
Cloning into 'Store-Sales-Forecasting'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 21 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (21/21), 239.35 KiB | 2.99 MiB/s, done.
/content/Store-Sales-Forecasting

In [2]:
import pandas as pd

In [36]:
holidays_events_df = pd.read_csv('/content/drive/MyDrive/StoreSalesForecasting/holidays_events.csv')
oil_df = pd.read_csv('/content/drive/MyDrive/StoreSalesForecasting/oil.csv')
sample_submission_df = pd.read_csv('/content/drive/MyDrive/StoreSalesForecasting/sample_submission.csv')
stores_df = pd.read_csv('/content/drive/MyDrive/StoreSalesForecasting/stores.csv')
test_df = pd.read_csv('/content/drive/MyDrive/StoreSalesForecasting/test.csv')
train_df = pd.read_csv('/content/drive/MyDrive/StoreSalesForecasting/train.csv')
transactions_df = pd.read_csv('/content/drive/MyDrive/StoreSalesForecasting/transactions.csv')

In [6]:
print(train_df)

              id        date  store_nbr                      family     sales  \
0              0  2013-01-01          1                  AUTOMOTIVE     0.000
1              1  2013-01-01          1                   BABY CARE     0.000
2              2  2013-01-01          1                      BEAUTY     0.000
3              3  2013-01-01          1                   BEVERAGES     0.000
4              4  2013-01-01          1                       BOOKS     0.000
...          ...         ...        ...                         ...       ...
3000883  3000883  2017-08-15          9                     POULTRY   438.133
3000884  3000884  2017-08-15          9              PREPARED FOODS   154.553
3000885  3000885  2017-08-15          9                     PRODUCE  2419.729
3000886  3000886  2017-08-15          9  SCHOOL AND OFFICE SUPPLIES   121.000
3000887  3000887  2017-08-15          9                     SEAFOOD    16.000

         onpromotion
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
3000883            0
3000884            1
3000885          148
3000886            8
3000887            0

[3000888 rows x 6 columns]

In [7]:
print(oil_df)

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

In [8]:
print(stores_df)

    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3

In [9]:
print(test_df)

            id        date  store_nbr                      family  onpromotion
0      3000888  2017-08-16          1                  AUTOMOTIVE            0
1      3000889  2017-08-16          1                   BABY CARE            0
2      3000890  2017-08-16          1                      BEAUTY            2
3      3000891  2017-08-16          1                   BEVERAGES           20
4      3000892  2017-08-16          1                       BOOKS            0
...        ...         ...        ...                         ...          ...
28507  3029395  2017-08-31          9                     POULTRY            1
28508  3029396  2017-08-31          9              PREPARED FOODS            0
28509  3029397  2017-08-31          9                     PRODUCE            1
28510  3029398  2017-08-31          9  SCHOOL AND OFFICE SUPPLIES            9
28511  3029399  2017-08-31          9                     SEAFOOD            0

[28512 rows x 5 columns]

In [10]:
print(transactions_df)

             date  store_nbr  transactions
0      2013-01-01         25           770
1      2013-01-02          1          2111
2      2013-01-02          2          2358
3      2013-01-02          3          3487
4      2013-01-02          4          1922
...           ...        ...           ...
83483  2017-08-15         50          2804
83484  2017-08-15         51          1573
83485  2017-08-15         52          2255
83486  2017-08-15         53           932
83487  2017-08-15         54           802

[83488 rows x 3 columns]

In [37]:
print(holidays_events_df)
holidays_events_df = holidays_events_df[holidays_events_df['transferred'] == False]  # Keep only rows where transferred is False
holidays_events_df = holidays_events_df.drop(columns=['transferred'])  # Then drop the column
holidays_events_df = holidays_events_df.rename(columns={'type': 'holiday_type'})  # Rename the column

           date        type    locale locale_name  \
0    2012-03-02     Holiday     Local       Manta
1    2012-04-01     Holiday  Regional    Cotopaxi
2    2012-04-12     Holiday     Local      Cuenca
3    2012-04-14     Holiday     Local    Libertad
4    2012-04-21     Holiday     Local    Riobamba
..          ...         ...       ...         ...
345  2017-12-22  Additional  National     Ecuador
346  2017-12-23  Additional  National     Ecuador
347  2017-12-24  Additional  National     Ecuador
348  2017-12-25     Holiday  National     Ecuador
349  2017-12-26  Additional  National     Ecuador

                       description  transferred
0               Fundacion de Manta        False
1    Provincializacion de Cotopaxi        False
2              Fundacion de Cuenca        False
3        Cantonizacion de Libertad        False
4        Cantonizacion de Riobamba        False
..                             ...          ...
345                      Navidad-3        False
346                      Navidad-2        False
347                      Navidad-1        False
348                        Navidad        False
349                      Navidad+1        False

[350 rows x 6 columns]

In [39]:
data = pd.concat([train_df, test_df]) #3000888 the first id in test set
data = pd.merge(data, stores_df, on='store_nbr')
data = pd.merge(data, oil_df, on='date')
data = pd.merge(data, holidays_events_df, on='date', how='left')
data = pd.merge(data, transactions_df, on=['date', 'store_nbr'], how='left')
print(data)

              id        date  store_nbr                      family  sales  \
0              0  2013-01-01          1                  AUTOMOTIVE    0.0
1              1  2013-01-01          1                   BABY CARE    0.0
2              2  2013-01-01          1                      BEAUTY    0.0
3              3  2013-01-01          1                   BEVERAGES    0.0
4              4  2013-01-01          1                       BOOKS    0.0
...          ...         ...        ...                         ...    ...
2197201  3029395  2017-08-31          9                     POULTRY    NaN
2197202  3029396  2017-08-31          9              PREPARED FOODS    NaN
2197203  3029397  2017-08-31          9                     PRODUCE    NaN
2197204  3029398  2017-08-31          9  SCHOOL AND OFFICE SUPPLIES    NaN
2197205  3029399  2017-08-31          9                     SEAFOOD    NaN

         onpromotion   city      state type  cluster  dcoilwtico holiday_type  \
0                  0  Quito  Pichincha    D       13         NaN      Holiday
1                  0  Quito  Pichincha    D       13         NaN      Holiday
2                  0  Quito  Pichincha    D       13         NaN      Holiday
3                  0  Quito  Pichincha    D       13         NaN      Holiday
4                  0  Quito  Pichincha    D       13         NaN      Holiday
...              ...    ...        ...  ...      ...         ...          ...
2197201            1  Quito  Pichincha    B        6       47.26          NaN
2197202            0  Quito  Pichincha    B        6       47.26          NaN
2197203            1  Quito  Pichincha    B        6       47.26          NaN
2197204            9  Quito  Pichincha    B        6       47.26          NaN
2197205            0  Quito  Pichincha    B        6       47.26          NaN

           locale locale_name         description  transactions
0        National     Ecuador  Primer dia del ano           NaN
1        National     Ecuador  Primer dia del ano           NaN
2        National     Ecuador  Primer dia del ano           NaN
3        National     Ecuador  Primer dia del ano           NaN
4        National     Ecuador  Primer dia del ano           NaN
...           ...         ...                 ...           ...
2197201       NaN         NaN                 NaN           NaN
2197202       NaN         NaN                 NaN           NaN
2197203       NaN         NaN                 NaN           NaN
2197204       NaN         NaN                 NaN           NaN
2197205       NaN         NaN                 NaN           NaN

[2197206 rows x 16 columns]

In [34]:
data.to_csv('data.csv', index=False)